:root {
    --lettercolor: #FFFFFF;
    --Oswaldfont: 'Oswald';
    --SansProfont: 'Source Sans Pro';
    --articlecolor: rgba(0, 0, 0, 1);
    --addresscolor: rgba(255, 255, 255, 0.4);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 1200px;
}
.background-1 {
    background-image: url(../assets/background1.png);
    height: 800px;
}
.bg-logo {
    display: block;
    margin: 0 auto;
    padding-top: 252px;
}
.background-1-h1 {
    font-size: 48px;
    text-align: center;
    color: var(--lettercolor);
    font-family: var(--Oswaldfont);
}
.background-1-h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--SansProfont);
    font-weight: 400;
}
section {
    background: #EEEEEE;
    height: 700px;
}
.main-h2 {
    text-align: center;
    font-family: var(--Oswaldfont);
    font-size: 48px;
    color:rgba(70, 69, 71, 1);
    padding-top: 65px;
}
.main-h3 {
    text-align: center;
    font-family: var(--SansProfont);
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    margin-top: 25px;
}
.article1 {
    text-align: center;
    color: var(--articlecolor);
    margin-top: 25px;
    font-family: var(--SansProfont);
    line-height: 22px;
}
.article2 {
    text-align: center;
    color: var(--articlecolor);
    margin-top: 20px;
    font-family: var(--SansProfont);
    line-height: 22px;
}
.button-container {
    text-align: center;
    margin-top: 35px;
}
.rd-button {
    width: 115px;
    height: 36px;
    background-color:#55C2D8;
    color: var(--lettercolor);
    font-family: var(--Oswaldfont);
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
    border-radius: 18px;
    border: 0px;
}
.background-2 {
    height: 666px;
    background-image: url(../assets/background2.png);
}
.background-2-h2 {
    color: var(--lettercolor);
    font-family: var(--Oswaldfont);
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    padding-top: 80px;
}
.symbol-container {
    height: 150px;
    width: 150px;
    background-color: #39C2D7;
    border-radius: 50%;
    margin: 35px auto;
    text-align: center;
}
.symbol {
    border: 0px;
    background-color: #39C2D7;
    color: var(--lettercolor);
    font-size: 60px;
    margin-top: 47px;
}
.background-2-h3 {
    color: var(--lettercolor);
    font-family: var(--SansProfont);
    text-align: center;
    font-weight: normal;
    margin-top: 70px;
    line-height: 32px;
    font-size: 24px;
}
footer {
    background: #464547;
    height: 170px;
}
.sml-logo {
    margin-left: 145px;
    margin-top: 19px;
}
.footer-p1 {
    display: inline-block;
    letter-spacing: 0.2em;
    color: var(--lettercolor);
    font-family: var(--SansProfont);
    padding-left: 16px;
    font-size: 18px;
}
.footer-address {
    color: var(--addresscolor);
    font-family: var(--SansProfont);
    margin-top: 12px;
    margin-left: 140px;
    font-style: normal;
}
.footer-email {
    color: var(--addresscolor);
    font-family: var(--SansProfont);
    margin-left: 140px;
    text-decoration: none;
}
.footer-p2 {
    color: var(--addresscolor);
    font-family: var(--SansProfont);
    margin-left: 140px;
}